.cart-detail {
    margin: 12px 8px;
    display: flex;
    align-items: center;
    font-size: 1rem;

    .cart-detail-infor {
        width: 40%;
        display: flex;

        .cart-detail-right {

            .cart-detail-imgage-src {
                width: 130px;
            }
        }
        
        .cart-detail-left {
            .cart-detail-selected {


                .button {

                    width: 200px;
                    margin: 8px 4px 0;
                    padding: 8px 16px;
                    font-size: 1.4rem;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    background-color: #fff;
                    cursor: pointer;

                    &.active {
                        border-color: var(--blue);
                        color: var(--blue);
                    }

                    &:hover {
                        color: var(--blue);
                        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

                    }
                }
            }


            .option {

                width: auto;
                height: 200px;
                background-color: #fff;
                justify-content: space-around;
                flex-wrap: wrap;
                border-radius: 4px;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);


                .option-color {

                    padding: 4px;
                    display: flex;
                    align-items: center;

                    .color {
                        font-size: 1.6rem;

                    }

                    .color_btn {



                        .button {
                            width: 50px;
                            height: 50px;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                        }
                    }

                }

                .option-capacity {


                    padding: 8px;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    .capacity {
                        font-size: 1.6rem;
                    }
                }
            }




        }







    }

    .cart-detail-quantity {
        width: 20%;
        font-size: 1.4rem;

        justify-content: space-around;

        button {
            width: 20px
        }

        input {
            width: 40px;
            text-align: center;
        }

    }

    .cart-detail-price {
        width: 20%;
        font-size: 1.4rem;

        color: var(--blue);
    }

    .cart-detail-total {
        font-size: 1.4rem;

        width: 20%;
        color: var(--blue);
    }
}