.wrapper {
    margin: 0 auto;
    padding: 40px 0;
    width: var(--width-layout);

    .content {
        margin: 0 -10px;
        display: flex;
        justify-content: space-between;

        .cart {
            margin: 0 10px;
            padding: 16px;
            width: calc(76% - 20px);
            border-radius: 5px;
            background-color: #f9fafc;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

            .cart-header {
                font-size: 2.4rem;
                font-weight: bold;
            }

            .cart-list {
                margin-top: 16px;
                display: flex;
                flex-direction: column;

                .title {
                    margin: 0 -5px;
                    padding-bottom: 16px;
                    display: flex;
                    border-bottom: 2px solid #ddd;

                    span {
                        margin: 0 5px;
                        font-weight: 500;
                        text-align: center;
                    }
                }

                .empty-cart {
                    margin-top: 16px;
                    padding: 16px;
                    width: 100%;
                    border: 2px dashed #ddd;
                    border-radius: 5px;
                    background-color: #fff;

                    img {
                        width: 260px;
                        margin: 0 auto;
                    }

                    p {
                        margin: 0 auto;
                        font-size: 1.6rem;
                        text-align: center;
                    }
                }

                .delete-cart {
                    width: 400px;
                    padding: 0 20px;
                    text-align: center;

                    h3 {
                        font-size: 1.4rem;
                    }

                    .buttons {
                        margin-top: 16px;

                        button {
                            padding: 8px 16px;
                            font-size: 1.4rem;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            cursor: pointer;
                            transition: all 0.1s ease-in-out;

                            &:nth-child(1):hover {
                                border-color: var(--blue);
                                color: var(--blue);
                            }

                            &:nth-child(2) {
                                margin-left: 16px;
                                color: #fff;
                                border-color: var(--blue);
                                background-color: var(--blue);
                            }
                        }
                    }
                }
            }
        }

        .total {
            margin: 0 10px;
            padding: 16px;
            width: calc(24% - 20px);
            height: max-content;
            background-color: #f9fafc;
            border-radius: 5px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

            h2.total-header {
                font-size: 2rem;
                font-weight: 500;
            }

            .temporary {
                margin: 20px 12px;
                display: flex;
                justify-content: space-between;
            }

            .official {
                margin: 20px 12px;
                display: flex;
                justify-content: space-between;
                text-align: end;

                .official-price {
                    margin-left: 48px;
                    color: rgb(20, 53, 195);
                }

                .official-vat {
                    font-size: 1.2rem;
                }
            }

            .continue {
                width: 100%;
                height: 40px;
                display: flex;

                button {
                    border-radius: 4px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: rgb(20, 53, 195);
                    border-color: rgb(20, 53, 195);
                    color: rgb(255, 255, 255);
                    border-width: 1px;
                    border-style: solid;
                    width: 100%;
                    padding: 0.7rem 1rem;
                    cursor: pointer;
                }
            }
        }
    }
}
