.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1000;

    &.show {
        opacity: 1;
        visibility: visible;

        & + .wrapper {
            scale: 1;
            opacity: 1;
        }
    }
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: calc(100vw - 16px);
    max-height: calc(100vh - 16px);
    border-radius: 8px;
    background-color: #fff;
    scale: 0;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;
    z-index: 1001;
}

.header {
    position: relative;
    padding: 0 40px 0 20px;
    height: 40px;

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-radius: 0 8px 0 8px;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .title {
        color: black;
        margin: 0;
        padding: 10px 10px 0 30px;
        font-size: 2rem;
        font-weight: 600;
    }
}

.body {
    padding: 20px 0;
    height: calc(100% - 40px);
    max-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;

    .content {
        height: 100%;
        overflow-y: overlay;
    }
}
